/*@mixin recettesBtn {

    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid red;

}*/
header {
  background-image: url("../../assets/nav/Maskgroup.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 667px;
}

main {
  background-color: lightgrey;
}

.containerArticleRecette {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.containerArticleRecette .containerArticleRecette__article {
  width: 30%;
  border-radius: 21px;
  background-color: white;
  margin-bottom: 50px;
}
.containerArticleRecette .imgContainer {
  height: 300px;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  position: relative;
}
.containerArticleRecette .imgContainer__time {
  width: 63px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-size: small;
  background-color: #FFD15B;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 15px;
  margin-top: 25px;
}
.containerArticleRecette .recetteContainerSection {
  width: 95%;
  margin: auto;
}
.containerArticleRecette .recetteContainerSection .recetteContainer__description {
  max-height: 70px;
  overflow: hidden;
  position: relative;
}
.containerArticleRecette .recetteContainerSection .ingredientColumnsContainer {
  display: flex;
  margin-bottom: 50px;
}
.containerArticleRecette .recetteContainerSection .ingredientColumnsContainer .ingredientContainer {
  width: 50%;
}
.containerArticleRecette .recetteContainerSection .ingredientColumnsContainer .ingredientContainer__child .ingredients {
  position: relative;
  top: -15px;
}
.containerArticleRecette .recetteContainerSection .ingredientColumnsContainer .ingredientContainer__child .ingredientsMesure {
  position: relative;
  top: -30px;
  color: gray;
}

.containerLogo {
  height: 25.26px;
  width: 207px;
  position: relative;
  top: 51px;
  left: 69px;
}

.containerTitre {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 200px;
}
.containerTitre h1 {
  visibility: hidden;
}
.containerTitre img {
  position: relative;
  top: -41px;
}
.containerTitre .searchBarContainer {
  width: 954px;
  height: 72px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 10px;
}
.containerTitre .searchBarContainer__input {
  width: 90%;
  height: 85%;
  border: solid white;
}
.containerTitre .searchBarContainer__delete {
  opacity: 0.5;
  margin-right: 30px;
}
.containerTitre .searchBarContainer__delete .btnDelete {
  font-size: 24px;
}
.containerTitre .searchBarContainer__button {
  width: 8%;
  height: 90%;
  background-color: black;
  border-radius: 5px;
}
.containerTitre .searchBarContainer__button i {
  font-size: 45px;
  color: white;
}

.filtersSection .filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  padding-top: 30px;
  margin-bottom: 30px;
}
.filtersSection .filters__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  border-radius: 11px;
}
.filtersSection .filters__container .btnArrow {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.filtersSection .filters__container .btnfilter {
  width: 100%;
  display: flex;
}
.filtersSection .filters__container .filterForm {
  width: 30%;
}
.filtersSection .filters__container--filter {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 11px;
}
.filtersSection .filters__container--filter .btnContainer {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}
.filtersSection .filters__container--filter .recettesBtn {
  width: 100.5%;
  height: 60px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 11px;
  background-color: white;
  border: solid white;
}
.filtersSection .filters__container--filter .recettesBtn .titleBtnMain {
  width: 75%;
  text-align: start;
  font-size: 18px;
}
.filtersSection .filters__container--filter .recettesBtn .arrow {
  font-size: 18px;
}
.filtersSection .filters__container .filterForm2 {
  width: 100%;
  max-height: 450px;
  margin: 0px;
  padding: 0px;
  position: relative;
  top: -9px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: white;
}
.filtersSection .filters__container .filterForm2 ul::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}
.filtersSection .filters__container .filterForm2 ul {
  max-height: 395px;
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: white;
  overflow-y: auto;
}
.filtersSection .filters__container .filterForm2 ul li {
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
}
.filtersSection .filters__container .filterForm2 .optionBar {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  margin-bottom: 20px;
  border: solid grey 1px;
}
.filtersSection .filters__container .filterForm2 .optionBar__input {
  width: 90%;
  height: 30px;
  color: grey;
  border: solid 0px white;
}
.filtersSection .filters__container .filterForm2 .optionBar input:focus {
  outline: none;
}
.filtersSection .filters__container .filterForm2 .optionBar__delete {
  display: flex;
  align-items: center;
  font-size: 12px;
  padding-right: 10px;
  color: grey;
}
.filtersSection .filters__container .filterForm2 .optionBar__icon {
  width: 10%;
  display: flex;
  align-items: center;
  padding-right: 10px;
  color: grey;
}
.filtersSection .filters__container .filterForm2 button {
  width: 100%;
  height: 50px;
  text-align: start;
  padding: 10px;
  margin: 0px;
  background-color: white;
  border: solid white;
  cursor: pointer;
}
.filtersSection .filters__container .filterForm2 button:hover {
  background-color: #FFD15B;
}
.filtersSection .filters__numberRecette {
  width: 400;
  font-size: 24px;
}
.filtersSection .sectionTag {
  width: 90%;
  display: flex;
  align-items: center;
  margin: auto;
  margin-bottom: 50px;
}
.filtersSection .sectionTag .keywordsTag {
  width: 22%;
}
.filtersSection .sectionTag .keywordsTag .keywordContainer {
  width: 100%;
  height: 60px;
  margin-right: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  background-color: #FFD15B;
  border-radius: 11px;
}
.filtersSection .sectionTag .keywordsTag .keywordContainer__btn {
  width: 75%;
  text-align: start;
  padding-left: 10px;
  font-size: 18px;
  background-color: #FFD15B;
}
.filtersSection .sectionTag .keywordsTag .keywordContainer__delete {
  margin-right: 13px;
  font-size: 18px;
}
.filtersSection .sectionTag ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

/*# sourceMappingURL=style.css.map */
