.filtersSection{

    .filters{

        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: auto;
        padding-top: 30px;
        margin-bottom: 30px;
        
        //border: solid yellow;


        &__container{

            display: flex;
            //justify-content: space-between;
            flex-direction: column;
            align-items: center;
            width: 60%;
            border-radius: 11px;

            //border: solid blue;

            ///////////////////////
            
            .btnArrow{

                width: 100%;
                display: flex;
                justify-content: space-between;
               //border: solid yellow;
            }
            .btnfilter{

                width: 100%;
                display: flex;
                
                //justify-content: space-between;
                
                //border: solid red;

            }

            
            ////////////////////////////


            .filterForm{

                width: 30%;
                //border: solid red;
                
            }
            &--filter{

                width: 100%;//30%;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 11px;
                //background-color: white;

                //border: solid green;

                .btnContainer{

                    width: 100%;
                    padding-left: 0px;
                    padding-right: 0px;

                    //border: solid red;
                }

                .recettesBtn{

                    width: 100.5%;
                    height: 60px;
                    margin: auto;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    border-radius: 11px;
                    background-color: white;
                    border: solid white;

                    .titleBtnMain{

                        width: 75%;
                        text-align: start;
                        font-size: $fontsizeGlobale;

                    // border: solid black;
                    }
                    .arrow{

                        font-size: $fontsizeGlobale;
                    // border: solid black;
                    }
                }
                
            }
            ///////////////////////////
            
            .filterForm2{

                
                //formatage de notre ul
                width: 100%;//97.5%;
                max-height: 450px;
                margin: 0px; 
                padding: 0px; 
                position: relative;
                top: -9px;
                border-bottom-left-radius: 15px; 
                border-bottom-right-radius: 15px;
                background-color: white;
                //border: solid red;

                // Personnalisation l'apparence de la barre de défilement
                ul::-webkit-scrollbar {
                    width: 0px; 
                    background-color: transparent; 
                }
                ul{
                    max-height: 395px;
                    list-style: none; 
                    padding: 0;
                    margin: 0;
                    //padding-top: 10px;
                    border-bottom-left-radius: 15px; 
                    border-bottom-right-radius: 15px;
                    background-color: white;
                    //border: none;
            
                    //cursor: pointer;
                    //max-height: 350px; 
                    overflow-y: auto; 
                    
                   // border: solid yellow;

                    li{

                        width: 100%;
                        padding: 0;
                        margin: 0;
                        border: none;
                        //margin-left: -25px;
                        
                        
                        //margin-bottom: 10px;
                        
                        //border: solid blue;

                        
                        
                    }

                }
                
                .optionBar{

                    width: 85%;
                    margin: auto;
                    display: flex;
                    justify-content: space-between;
                    //opacity: 0.7;
                    border-radius: 5px;
                    margin-bottom: 20px;
                    border: solid grey 1px;

                    &__input{

                        width: 90%;
                        height: 30px;
                        color: grey;
                        border: solid 0px white;
                    }
                    //désactivation de l'apparution des bordures bleues lorsqu'on est focus sur l'input
                    input:focus {
                        outline: none; 
                    }
                    &__delete{

                        display: flex;
                        align-items: center;
                        font-size: 12px;
                        padding-right: 10px;
                        color: grey;
                    }
                    &__icon{

                        width: 10%;
                        display: flex;
                        align-items: center;
                        padding-right: 10px;
                        color: grey;
                    // border: solid red;
                    }
                }

                
                button{

                    width: 100%;
                    height: 50px;
                    text-align: start;
                    padding: 10px;
                    margin: 0px;
                    background-color: white;
                    border: solid white;
                   
                    cursor: pointer;
                    &:hover{

                        background-color: #FFD15B;
                    }

                    //border: solid red;

                    
                }

            }

            
            ///////////////////////////

        
        }
        &__numberRecette{

            width: 400;
            font-size: 24px;
            //border: solid black;
        }

    
    }

    .sectionTag{

        width: 90%;
        display: flex;
        margin: auto;
        margin-bottom: 50px;
        border: solid red;

        .keywordsTag{

            width: 18%;
            margin-right: 50px;
        
        
            .keywordContainer{

                // width: 18%;//195px;
                height: 60px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-bottom: 10px;
                background-color: #FFD15B;
                border-radius: 11px;
            

                &__btn{

                    width: 75%;
                    text-align: start;
                    padding-left: 10px;
                
                    font-size: $fontsizeGlobale ;
                    background-color: #FFD15B;
                    //border: solid black;


                }
                &__delete{

                    margin-right: 13px;
                    font-size: $fontsizeGlobale ;
                    

                }  

            
            }

        

            
        }

        ul{
            
            margin: 0; 
            padding: 0; 
            list-style: none; 
           
        // border: solid black;

        
        }
    }

}