header{

    background-image: url('../../assets/nav/Maskgroup.jpeg');
    background-repeat: no-repeat;
    background-size: cover; 
    height: 667px; 

    
}

main{

    background-color: lightgrey;
   // border: solid red;

}
